#board-image {
  height: 500px;
  width: 500px;
  position: relative;
  background-image: url('../images/plansza.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pawn {
  width: 35px;
  height: 35px;
  border: 3px solid black;
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 1;
}

#roll-wrapper {
  position: absolute;
  top: 23%;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#roll-button {
  cursor: pointer;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 55px;
  border-radius: 15px;
  border: #ced6e0 3px solid;
  transition: all 0.3s;
}

#roll-button:hover {
  background-color: #57606f;
}

.dice-roll {
  width: 70px;
  height: 70px;
}

.red {
  background-color: #ff6b81;
}
.green {
  background-color: #7bed9f;
}
.blue {
  background-color: #70a1ff;
}
.yellow {
  background-color: #eccc68;
}

#predict {
  background-color: rgb(109, 33, 46);
}

.available {
  animation: availablePawn 0.7s steps(2, end) infinite;
  cursor: pointer;
}

@keyframes availablePawn {
  to {
    opacity: 0.3;
  }
}
